<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>

    <link rel="preload" href="/assets/application.js" as="script">

    <%= javascript_include_tag 'application' %> <!-- Ensure this is in the Minesweeper page layout -->

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "layouts/header" %>
<% if flash[:alert] %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= flash[:alert] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

    <main class="flex-grow-1">
      <div class="container mt-4">
        <%= yield %>
      </div>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
